
<div class="widget widget_stats">
	<h3 class="widget_title">স্ট্যাটাস</h3>
	<div class="ul_list ul_list-icon-ok">
		<ul>
			<li><i class="icon-question-sign"></i>রিপোর্ট ( <span>@ViewBag.Report</span> )</li>
			<li><i class="icon-comment"></i>প্রতিউত্তর ( <span>@ViewBag.Response</span> )</li>
		</ul>
	</div>
</div>