
@{
    ViewData["Title"] = "ডিপার্টমেন্ট";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
	<section class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>ডিপার্টমেন্ট</h1>
			</div>
			<div class="col-md-12">
				<div class="crumbs">
					<a asp-action="Index" asp-controller="Home">হোম</a>
					<span class="crumbs-span">/</span>
					<span class="current">রিপোর্ট</span>
				</div>
			</div>
		</div><!-- End row -->
	</section><!-- End container -->
</div><!-- End breadcrumbs -->
	
<section class="container main-content">
	<div class="row">
		<div class="col-md-9">

			<div class="tabs-warp question-tab">
				<div class="tab-inner-warp">
					<div class="tab-inner">
						<div class="randr">
							<div class="alert-message info">
								<i class="icon-bullhorn"></i>
								<p><span>লোড করা হচ্ছে</span><br />ডাটা লোড করা হচ্ছে......
								</p>
							</div>
						</div>
							
						<a class="load-questions load-more"><i class="icon-refresh"></i>আরো দেখুন...</a>
					</div>
				</div>
			</div><!-- End page-content -->
		</div><!-- End main -->
		<aside class="col-md-3 sidebar">
			@await Component.InvokeAsync("Status")

			@await Component.InvokeAsync("RecentReport")
		</aside><!-- End sidebar -->
	</div><!-- End row -->
</section><!-- End container -->
<input type="hidden" value="@ViewBag.Id" id="itoken"/>
@section Scripts{
<script src="~/lib/load_report.js"></script>
	<script>

		var page = 1;
		var size = 3;
		var length = 0;

		$(document).ready(function(){
			if(page == 1) loadDepartmentReport(page, size);
		});

		var token = $('#itoken').val();

		loadMore(token, 'GetReportByDepartment');

	</script>
}